{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}

{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
:root {
  --brown: #804d15;
  --white: #ffffff;
  --black:#282828;
  --padding-sections:#282828;
  --button-main:#282828;
  background: #804d15;

}

{%- endstyle -%}


{%- style -%}

.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


.slider-text-custom-container{
 border:10px solid #121212;
}
.image-main-slider{
  object-fit:cover;
  
}
.text-container-main{
  background-color:transparent ;
}
    .text-buttom-container{
      display:flex;
      flex-direction:column;
      align-items:center;
      text-align:center;
      justify-content:center;
    }
    .text-buttom-container h2{
      font-size:32px;
      margin:0px;
      font-family:'Chalet Comprime'
    }
    .text-buttom-container p{
      font-size:16px;
      margin:0px;
    }

.image-container-main{
  display:flex;
  justify-content:center;
}
.slider-container img {
  height:100%;
  width:100%;
  display: none;
}
.slider-container img.active {
  display: block;
}

/* Mobile */
@media screen and (max-width: 700px) {

  .slider-text-custom-container{
    padding:0rem;

  }
  .image-with-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:0rem;
  } 
  .slider-container img { 
    width: 100%;
    height:450px;
    display: none;
  }
  .text-container{
    margin:0px;
    padding:0px;
  }
  .text-buttom-container h2{
    margin-top:1.6rem;
  }
  .image-container-main{
    height:400px;
}

  
{%- endstyle -%}

{%- style -%}

  .title-subtitle-container-hero h1{
    font-family:'Chalet Comprime';
    font-size:64px;

  }
  .title-subtitle-container h2{
    font-family:'Chalet Comprime';
    font-size:32px;
    margin:0px;
  }
  .text-closer-container-sp{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    text-align: justify;

    max-width:480px;
 

  

    
  }
  .featured-collection-container{
    padding-bottom:24px;
  }


{%- endstyle -%}

{% comment %} ////////////////////// Icons Perks ////////////////// {% endcomment %}
{% style %}

  .how-it-work-logo-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
  }
  .how-it-work-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:100%;
    width:300px;
    text-align:center;
  }
  .small-icon-brew {
      max-height: 230px;
      min-width: 200px;
      margin-bottom:-60px;
      margin-top:-60px;
      object-fit: cover;
  }
  .small-icon {
      max-height: 230px;
      min-width: 200px;
      margin-bottom:-60px;
      margin-top:-60px;
      border:2px;
      object-fit: contain;
  }

  @media screen and (max-width:900px){
    .how-it-work-logo-container{
      display:flex;
      flex-direction:column;
    }
    .how-it-work-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      height:300px;
      width:100% ;
      text-align:center;
    }
    .text-closer-container-sp {
      max-width: 480px;
      margin-top: 0px;
      padding: 0rem;
    }
    .title-subtitle-container{
      text-align:center;
    }
  }


{% endstyle %}

{% comment %} ////////////////////// Collapsible Content ////////////////// {% endcomment %}
{% style %}
  .accordion{
    margin-top:0px;
  }
  .container{
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enables momentum-based scrolling on iOS devices */
    scroll-snap-type: x mandatory; 
    height:400px;
  }
  .item {
      display: flex;
      flex-direction: column;
      justify-content: center;

      flex: 0 0 80vw;
      scroll-snap-align: start; 
      height:100%;
  }
  .container .item:last-child {
      margin-right: 0;
  }

/* Media query for desktop view */
@media (min-width: 1000px) {
    .container {
        justify-content: center; 
        overflow-x: visible; 
    }
    .item {
        width: 33.333%;
        flex: 0 0 auto; 
    }
    .cta-container{
      display:none;
    }
    .image-text-container-section-02{
      display:flex;
      flex-direction:row;
    }

}
/* Optional: cta styles mobile */

@media (max-width: 1000px) {
    .title-subtitle-sections{
      width:100%;
    }
    .cta-container-desk{
      
      display:none;
    }
    .cta-container-mobile{
      display:block;
    }
}

/* Optional: cta styles desktop */

@media (min-width: 1000px) {

  .title-subtitle-sections{
    width:70%;
    ;
  }
  .cta-container-mobile{
    display:none;
  
  }
  .cta-container-desk{
    width:30%;
  }

}

/* Optional: Basic styles to make the demo look a bit nicer */
.item {
    box-sizing: border-box; 
    border-left: 2px solid var(--padding-sections);
    border-right: 2px solid var(--padding-sections);

    text-align: center;

}

@media (max-width: 1000px) {

    .item {
    padding:2rem;
  }
}
{% endstyle %}

{% style %}
  .hero-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    min-width:375px;

  }
  .button-main-v12{
    height:50px;
    width:200px;
    background-color: var(--button-main);
    border:2px solid white;
    border-radius:6px;
    color:white;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the area without losing aspect ratio */
    margin: 0 auto;
  }
{% endstyle %}

{% style %}
/* new for desktop view */
@media (min-width: 1000px) {
  .full-unstyled-link{
    pointer-events:none;
  }
  .card__inner:hover{
    border:2px solid red;
  }
  .card__information .price{
    display:none; 
  }
    .image-text-container-section-02{
      display:flex;
      flex-direction:row;
    }
    .image-text-container-section-02-middle{
      display:flex;
      flex-direction: row-reverse;

    }
    
    .image-container-section-02{
      width:49%;
    }
    .text-buttom-container{
      display:flex;
      flex-direction:column;
      align-items:center;
      text-align:center;
      justify-content:center;
      width:50%;
      padding:3rem;
    }
    .text-buttom-container h2{
      font-size:32px;
      margin:0px;
      font-family:'Chalet Comprime'
    }
    .text-buttom-container p{
  font-size:16px;
  margin:0px;
    }
    .what_do_i_get_container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 3rem;
    }

.what_do_i_get_container-labels p{
  margin:0px;
}

  .what_do_i_get_container-labels{
    background-color: var(--padding-sections);
    width:fit-content;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    color:white !important;
  }
  }
/* new styles mobile */

@media (max-width: 1000px) {

    .image-text-container-section-02{
      display:flex;
      flex-direction:column;

    }
    .image-container-section-02{
      width:100%;
    }
    .text-buttom-container{
      display:flex;
      flex-direction:column;
      align-items:center;
      text-align:center;
      justify-content:center;
      width:100%;
    }
    .text-buttom-container h2{
      font-size:32px;
      margin:0px;
      font-family:'Chalet Comprime'
    }
    .text-buttom-container p{
      font-size:16px;
      margin:0px;
    }
    .what_do_i_get_container{

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 3rem;
    }
    .what_do_i_get_container-labels p{
      margin:0px;
    }
    .what_do_i_get_container-labels{
      background-color: var(--padding-sections);
      width:100%;
      padding: 1rem;
      margin: 1rem;
      border-radius: 10px;
      text-align:center;  
      color:white !important;

    }


}
{% endstyle %}




{%- liquid
  if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
    assign remove_color_classes = true
  endif
  -%}


  {% comment %} ///////////////////Video Hero///////////////////// {% endcomment %}
  <section style="height: 72vh; position: relative;  position: relative;">

    <div class=" title-subtitle-container-hero " style=" height:100%; display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
      <div class="page-width">
          <div class="hero-container">
              {%- if section.settings.text_title_primary != blank -%}
                      
                      
                  <div class="image-with-text__text rte {{ settings.text_style }} hero-title " >
                      {{ section.settings.text_title_primary }}
                  </div>
     
              {%- endif -%}
              {%- if section.settings.text_subtitle_primary != blank -%}
                      
                      
                  <div class="image-with-text__text rte {{ settings.text_style }} ">
                      {{ section.settings.text_subtitle_primary }}
                  </div>

              {%- endif -%}
              <br>

          

              <button class="button-main-v12">Explore Subscriptions</button>

          
          </div>
      </div>
    </div>
    {% comment %} ////////////////////
    
    <video muted autoplay playsinline loop>
      <source src="https://cdn.shopify.com/videos/c/o/v/48cba9a971c14fbe91dc735c93e5e1aa.mov" type="video/mp4">
    </video>
    //////////////////// {% endcomment %}

  
  </section>
  {% comment %} //////////////////////////////////////// {% endcomment %}
  <section style=" border:20px solid var( --padding-sections);">

    <div class=" title-subtitle-container " style="padding:3rem;">
      <div class="page-width">
          <div>
              {%- if section.settings.text_title_secondary != blank -%}
                              
                  <div class="image-with-text__text rte {{ settings.text_style }} ">
                      {{ section.settings.text_title_secondary }}
                  </div>

              {%- endif -%}
              {%- if section.settings.text_subtitle_secondary != blank -%}
          
                  <div class="image-with-text__text rte {{ settings.text_style }} ">
                      {{ section.settings.text_subtitle_secondary }}
                  </div>

              {%- endif -%}
              {%- if section.settings.text_subtitle_secondary_2 != blank -%}
          
                <div class="image-with-text__text rte {{ settings.text_style }} ">
                    {{ section.settings.text_subtitle_secondary_2 }}
                </div>

            {%- endif -%}
          
          </div>
      </div>
    </div>

    <div class="" style="  width:100%">
      <div class="page-width image-text-container-section-02" style="margin-top:2rem;">
        
          <div class="image-container-section-02">
            {%- if section.settings.ROASTERY_IMAGE_6 != blank -%}
              <img
                srcset="
                  {%- if section.settings.ROASTERY_IMAGE_6.width >= 165 -%}{{ section.settings.ROASTERY_IMAGE_6 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_6.width >= 360 -%}{{ section.settings.ROASTERY_IMAGE_6 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_6.width >= 535 -%}{{ section.settings.ROASTERY_IMAGE_6 | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_6.width >= 750 -%}{{ section.settings.ROASTERY_IMAGE_6 | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_6.width >= 1070 -%}{{ section.settings.ROASTERY_IMAGE_6 | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_6.width >= 1500 -%}{{ section.settings.ROASTERY_IMAGE_6 | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ section.settings.ROASTERY_IMAGE_6 | image_url }} {{ section.settings.image.width }}
                "
                src="{{ section.settings.ROASTERY_IMAGE_6| image_url: width: 1500 }}"
                alt="{{ section.settings.ROASTERY_IMAGE_6.alt | escape }}"
                loading="lazy"
                width="100%"
                height="100%"
            
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
      
      
   
              <section class="text-buttom-container" style="border-right: 2px solid var(--padding-sections);">
            
                {%- if section.settings.ROASTERY_HEADING_2 != blank -%}
                  <h2>
                    {{ section.settings.ROASTERY_HEADING_2 | escape }}
                  </h2>
                {%- endif -%}
                  
                {%- if section.settings.ROASTERY_OPENING_2 != blank -%}
                  <p class="rich-text__heading rte ">
                    {{ section.settings.ROASTERY_OPENING_2 | replace: 'p>', 'span>' }}
                  </p>
                {%- endif -%}
          
          
              </section>
      

    
      
      </div>
  
    </div>

    <div class="" style="  width:100%">
      <div class="page-width image-text-container-section-02-middle" style="margin-top:3rem; margin-bottom: 3rem;">
        
          <div class="image-container-section-02">
            {%- if section.settings.ROASTERY_IMAGE_3 != blank -%}
              <img
                srcset="
                  {%- if section.settings.ROASTERY_IMAGE_3.width >= 165 -%}{{ section.settings.ROASTERY_IMAGE_3 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_3.width >= 360 -%}{{ section.settings.ROASTERY_IMAGE_3 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_3.width >= 535 -%}{{ section.settings.ROASTERY_IMAGE_3 | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_3.width >= 750 -%}{{ section.settings.ROASTERY_IMAGE_3 | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_3.width >= 1070 -%}{{ section.settings.ROASTERY_IMAGE_3 | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section.settings.ROASTERY_IMAGE_3.width >= 1500 -%}{{ section.settings.ROASTERY_IMAGE_3 | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ section.settings.ROASTERY_IMAGE_3 | image_url }} {{ section.settings.image.width }}
                "
                src="{{ section.settings.ROASTERY_IMAGE_3| image_url: width: 1500 }}"
                alt="{{ section.settings.ROASTERY_IMAGE_3.alt | escape }}"
                loading="lazy"
                width="100%"
                height="100%"
            
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
      

          <section class="text-buttom-container" style="border-left: 2px solid var(--padding-sections);">
        
            {%- if section.settings.ROASTERY_HEADING_1 != blank -%}
              <h2>
                {{ section.settings.ROASTERY_HEADING_1 | escape }}
              </h2>
            {%- endif -%}
              
            {%- if section.settings.ROASTERY_OPENING_1 != blank -%}
              <p class="rich-text__heading rte ">
                {{ section.settings.ROASTERY_OPENING_1 | replace: 'p>', 'span>' }}
              </p>
            {%- endif -%}
      
      
          </section>
      
      </div>
  
    </div>

    <div class="" style="  width:100%">
      <div class="page-width image-text-container-section-02" style="margin-bottom:2rem; ">
        
          <div class="image-container-section-02">
            {%- if section.settings.IMAGE_003 != blank -%}
              <img
                srcset="
                  {%- if section.settings.IMAGE_003.width >= 165 -%}{{ section.settings.IMAGE_003 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.IMAGE_003.width >= 360 -%}{{ section.settings.IMAGE_003 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.IMAGE_003.width >= 535 -%}{{ section.settings.IMAGE_003 | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section.settings.IMAGE_003.width >= 750 -%}{{ section.settings.IMAGE_003 | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.IMAGE_003.width >= 1070 -%}{{ section.settings.IMAGE_003 | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section.settings.IMAGE_003.width >= 1500 -%}{{ section.settings.IMAGE_003 | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ section.settings.IMAGE_003 | image_url }} {{ section.settings.image.width }}
                "
                src="{{ section.settings.IMAGE_003| image_url: width: 1500 }}"
                alt="{{ section.settings.IMAGE_003.alt | escape }}"
                loading="lazy"
                width="100%"
                height="100%"
            
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
      
      
   
              <section class="text-buttom-container" style="border-right: 2px solid var(--padding-sections);">
            
                {%- if section.settings.TITLE_003 != blank -%}
                  <h2>
                    {{ section.settings.TITLE_003 | escape }}
                  </h2>
                {%- endif -%}
                  
                {%- if section.settings.SUBTITLE_003 != blank -%}
                  <p class="rich-text__heading rte ">
                    {{ section.settings.SUBTITLE_003 | replace: 'p>', 'span>' }}
                  </p>
                {%- endif -%}
          
          
              </section>
      

    
      
      </div>
  
    </div>



  </section> 
  {% comment %} ///////////////////Reviews///////////////////// {% endcomment %}
  <section  style=" border:20px solid var( --padding-sections); padding-bottom:3rem;">

    <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} title-subtitle-container  "  style=" ">
      <div class="page-width">

        <div  style="display:flex; flex-direction:row; " >
          <div class="title-subtitle-sections">
              {%- if section.settings.text_title != blank -%}
                      
                      
                  <div class="image-with-text__text rte {{ settings.text_style }} ">
                      {{ section.settings.text_title }}
                  </div>
              
              
              
              {%- endif -%}
              {%- if section.settings.text_subtitle != blank -%}
                      
                      
                  <div class="image-with-text__text rte {{ settings.text_style }} ">
                      {{ section.settings.text_subtitle }}
                  </div>
              
              
              
              {%- endif -%}
          
          </div>
          <div class="cta-container-desk">
            <section  style="height:100%; display: flex;flex-direction: column;align-items: flex-end;justify-content: center;">
              <div> 
                  <button color-{{ section.settings.section_color_scheme }} class="button-main-v12">Explore Subscriptions</button>
              </div>
            </section>
        
          </div> 
        </div>

      </div>
    </div>

    <div class="color-{{ section.settings.section_color_scheme }}">
      <div class="page-width" style="font-size:14px;" >
        <div class="container">
        
          <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} item" >
            <div class="page-width">
  
              {%- if section.settings.text != blank -%}
          
              <div class="image-with-text__text rte {{ settings.text_style }} text-closer-container-sp">
                  {{ section.settings.text }}
              </div>
      
              {%- endif -%}
              <div style="display: flex; align-items: center;justify-content: start;">
                  <p> &#9733 &#9733 &#9733 &#9733 &#9733;</p>
              </div>
              <div style="display: flex; align-items: center;justify-content: start;">
                  <p style="margin:0px; padding:0px; margin-top:-1.2rem;">Dennis</p>
              </div>
                
                </div>
        
          </div>
                
          <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} item">
            <div class="page-width">
             
              {%- if section.settings.text_1 != blank -%}
          
                  <div class="image-with-text__text rte {{ settings.text_style }} text-closer-container-sp">
                      {{ section.settings.text_1 }}
                  </div>
              
              {%- endif -%}
              <div style="display: flex; align-items: center;justify-content: start;">
                  <p> &#9733 &#9733 &#9733 &#9733 &#9733;</p>
              </div>
              <div style="display: flex; align-items: center;justify-content: start;">
                  <p style="margin:0px; padding:0px; margin-top:-1.2rem;">Batin</p>
              </div>

           

            </div>
          </div>
        
          <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} item">
            <div class="page-width">
              <div>
                {%- if section.settings.text_2 != blank -%}
              
                    <div class="image-with-text__text rte {{ settings.text_style }} text-closer-container-sp">
                        {{ section.settings.text_2 }}
                    </div>
                  
                {%- endif -%}
                <div style="display: flex; align-items: center;justify-content: start;">
                  <p> &#9733 &#9733 &#9733 &#9733 &#9733;</p>
                </div>
                <div style="display: flex; align-items: center;justify-content: start;">
                  <p style="margin:0px; padding:0px; margin-top:-1.2rem;">Daniel</p>
              </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>

  </section>
  {% comment %} ///////////////////Call to Action///////////////////// {% endcomment %}
  <section  class="cta-container-mobile" style="height:100%; text-align:center;">
    <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
      <div class="page-width"> 
          <button color-{{ section.settings.section_color_scheme }} class="button-main-v12">Explore Subscriptions</button>
      </div>
    </div>
  </section>
  {% comment %} /////////////////Pass Coffees/////////////////////// {% endcomment %}
  <section style="height:100%; border:20px solid var( --padding-sections);">

    <div class=" section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}" style="height:100%; border:2px solid var( --padding-sections);">
      <div class="page-width">
        <div class="title-subtitle-container "  >
              {%- if section.settings.text_title_2 != blank -%}
                             
                  <div class="image-with-text__text rte {{ settings.text_style }} ">
                      {{ section.settings.text_title_2 }}
                  </div>

              {%- endif -%}

          
              {%- if section.settings.text_subtitle_2_1 != blank -%}
                       
                <div class="image-with-text__text rte {{ settings.text_style }} ">
                    {{ section.settings.text_subtitle_2_1 }}
                </div>
             
            {%- endif -%}
     
            {%- if section.settings.text_title_3 != blank -%}
                           
              <div class="image-with-text__text rte {{ settings.text_style }} ">
                  {{ section.settings.text_title_3 }}
              </div>
          
          {%- endif -%}
        </div>
      </div>
    </div>

    <div class="  color-{{ section.settings.section_color_scheme }}  " style=" height:100%;">
      <div class="page-width">

        <section class="featured-collection-container">
        
          <ul
            id="Slider-{{ section.id }}"
            class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}"
            role="list"
            style="margin:0px;"
          >
            {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {% render 'card-product',
                  card_product: product,
               
                %}
              </li>
            {%- else -%}
   
            {%- endfor -%}
          </ul>
        
        </section>
          
      </div>
    </div>

  </section>
  {% comment %} //////////////////Icons////////////////////// {% endcomment %}
  <section  style=" border:20px solid var( --padding-sections);">


      <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} title-subtitle-container " >
        <div class="page-width">
    

       
          <div  style="display:flex; flex-direction:row; " >
            <div class="title-subtitle-sections">
                {%- if section.settings.how_it_work_title != blank -%}
                        
                        
                    <div class="image-with-text__text rte {{ settings.text_style }} ">
                        {{ section.settings.how_it_work_title }}
                    </div>
                
                
                
                {%- endif -%}
                {%- if section.settings.how_it_work_subtitle != blank -%}
                        
                        
                    <div class="image-with-text__text rte {{ settings.text_style }} ">
                        {{ section.settings.how_it_work_subtitle}}
                    </div>
                
                
                
                {%- endif -%}
            
            </div>
            <div class="cta-container-desk">
            <section  style="height:100%; display: flex;flex-direction: column;align-items: flex-end;justify-content: center;">
              <div> 
                  <button color-{{ section.settings.section_color_scheme }} class="button-main-v12">Explore Subscriptions</button>
              </div>
            </section>
        
          </div> 
          </div>

        </div>
      </div>



      <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} title-subtitle-container " >
        <div class="page-width">
          <div class="title-subtitle-container ">

            <section class="how-it-work-logo-container ">
            
              <section class="how-it-work-block">
  
                <div class="icons-subcontainer">
                  <img class=" small-icon "src="https://cdn.shopify.com/s/files/1/0831/4141/files/Style_2_d5791f83-e531-4af3-8919-a7ca5442425c.gif?v=1667308038" alt="icon switching between aeropress and chemex coffee maker" height="" width="">
                </div>
                {%- if section.settings.how_it_work_title_one  != blank -%}       
                  <div class="how_it_work_text ">
                      {{ section.settings.how_it_work_title_one  }}
                  </div>
                {%- endif -%}
                {%- if section.settings.how_it_work_subtitle_one  != blank -%}       
                  <div class="how_it_work_text ">
                      {{ section.settings.how_it_work_subtitle_one  }}
                  </div>
                {%- endif -%}
              
              </section>
  
  
              <section class="how-it-work-block ">
              
                <div class="icons-subcontainer">
                  <img src="https://cdn.shopify.com/s/files/1/0831/4141/files/Receive_Fresh_2.gif?v=1667214440" class="small-icon" alt="icon of delivery box THE BARN Specialty coffee roasters being opened" height="" width="">
                </div>
                {%- if section.settings.how_it_work_title_two != blank -%}
                  
                  <div class="how_it_work_text">
                      {{ section.settings.how_it_work_title_two }}
                  </div>
    
                {%- endif -%}
                {%- if section.settings.how_it_work_subtitle_two != blank -%}
                  
                  <div class="how_it_work_text">
                      {{ section.settings.how_it_work_subtitle_two }}
                  </div>
    
                {%- endif -%}
  
              </section>
  
  
              <section class="how-it-work-block">
  
                <div class="icons-subcontainer">  
                  <img src="https://cdn.shopify.com/s/files/1/0831/4141/files/bezbg.gif?v=1664532097" class="small-icon-brew" alt="icon of person brewing coffee in a chemex coffee maker" height="" width="">
                </div> 
                {%- if section.settings.how_it_work_title_three != blank -%}
                     
                    <div class="how_it_work_text ">
                        {{ section.settings.how_it_work_title_three }}
                    </div>
               
                {%- endif -%}
                {%- if section.settings.how_it_work_subtitle_three != blank -%}
                     
                     <div class="how_it_work_text ">
                         {{ section.settings.how_it_work_subtitle_three }}
                     </div>
                
                 {%- endif -%}
  
              </section>
            
            </section>


          </div>
        </div>
      </div>


  </section>
  {% comment %} ///////////////////Call to Action///////////////////// {% endcomment %}
  <section  class="cta-container-mobile" style="height:100%; text-align:center;">
    <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
      <div class="page-width"> 
          <button color-{{ section.settings.section_color_scheme }} class="button-main-v12">Explore Subscriptions</button>
      </div>
    </div>
  </section>
  {% comment %} /////////////////////What Do I Get/////////////////// {% endcomment %}
  <section style=" border:20px solid var( --padding-sections);"  >
    <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} title-subtitle-container " style=" height:100%;">
      <div class="page-width">
        <div class="title-subtitle-container ">

          {%- if section.settings.what_do_i_get_title != blank -%}
                    
                    
            <div class="image-with-text__text rte {{ settings.text_style }} ">
                {{ section.settings.what_do_i_get_title }}
            </div>
        
        
        
          {%- endif -%}
          
        </div>
      </div>
    </div>

    <div class=" color-{{ section.settings.section_color_scheme }}  ">
      <div class="page-width">
        <div class="what_do_i_get_container">
     
                        {%- if section.settings.what_do_i_get_one != blank -%}
                            
                            <div class="what_do_i_get_container-labels">
                                {{ section.settings.what_do_i_get_one }}
                            </div>
                        
                        {%- endif -%}
                        {%- if section.settings.what_do_i_get_two != blank -%}
                            
                            <div class="what_do_i_get_container-labels">
                                {{ section.settings.what_do_i_get_two }}
                            </div>
                        
                        {%- endif -%}
                        {%- if section.settings.what_do_i_get_three != blank -%}
                            
                            <div class="what_do_i_get_container-labels">
                                {{ section.settings.what_do_i_get_three }}
                            </div>
                        
                        {%- endif -%}
                        {%- if section.settings.what_do_i_get_four != blank -%}
                            
                            <div class="what_do_i_get_container-labels">
                                {{ section.settings.what_do_i_get_four }}
                            </div>
                        
                        {%- endif -%}
                        {%- if section.settings.what_do_i_get_five != blank -%}
                            
                            <div class="what_do_i_get_container-labels">
                                {{ section.settings.what_do_i_get_five }}
                            </div>
                        
                        {%- endif -%}
                        {%- if section.settings.what_do_i_get_six != blank -%}
                            
                            <div class="what_do_i_get_container-labels">
                                {{ section.settings.what_do_i_get_six }}
                            </div>
                        
                        {%- endif -%}
                        {%- if section.settings.what_do_i_get_seven != blank -%}
                            
                            <div class="what_do_i_get_container-labels">
                                {{ section.settings.what_do_i_get_seven }}
                            </div>
                        
                        {%- endif -%}
                        {%- if section.settings.what_do_i_get_eight != blank -%}
                            
                            <div class="what_do_i_get_container-labels">
                                {{ section.settings.what_do_i_get_eight }}
                            </div>
                        
                        {%- endif -%}
        
        </div>
      </div>
    </div>


  </section>
  {% comment %} /////////////////////FAQ/////////////////// {% endcomment %}
  <section style=" border:20px solid var( --padding-sections);">


    <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} title-subtitle-container " >
      <div class="page-width">
       
    
        <div  style="display:flex; flex-direction:row; align-items:center; " >
          <div class="title-subtitle-sections">
              {%- if section.settings.text_title_6 != blank -%}
                      
                      
                  <div class="image-with-text__text rte {{ settings.text_style }} ">
                      {{ section.settings.text_title_6 }}
                  </div>
              
              
              
              {%- endif -%}
        
          
          </div>
          <div class="cta-container-desk">
            <section  style="height:100%; display: flex;flex-direction: column;align-items: flex-end;justify-content: center;">
              <div> 
                  <button color-{{ section.settings.section_color_scheme }} class="button-main-v12">Explore Subscriptions</button>
              </div>
            </section>
        
          </div> 
        </div>
        
     
      </div>
    </div>


    <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} " style=" height:100%;">
      <div class="page-width">

                <div class="{% if section.settings.image_collapsible == blank %}{% else %}page-width{% endif %}">
                  <div
                    class="collapsible-content__header{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    style="text-align: {{ section.settings.heading_alignment }};"
                  >
                    {%- if section.settings.caption != blank -%}
                      <p class="caption-with-letter-spacing">
                        {{ section.settings.caption | escape }}
                      </p>
                    {% endif %}
                    {%- if section.settings.heading != blank -%}
                      <h2 class="collapsible-content__heading inline-richtext {{ section.settings.heading_size }}">
                        {{ section.settings.heading }}
                      </h2>
                    {%- else -%}
                      <h2 class="visually-hidden">{{ 'accessibility.collapsible_content_title' | t }}</h2>
                    {% endif %}
                  </div>
                  <div class="grid grid--1-col grid--2-col-tablet collapsible-content__grid{% if section.settings.desktop_layout == 'image_second' %} collapsible-content__grid--reverse{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    {%- if section.settings.image_collapsible != blank -%}
                      <div class="grid__item collapsible-content__grid-item">
                        <div
                          class="collapsible-content__media collapsible-content__media--{{ section.settings.image_ratio_collapsible }} media global-media-settings gradient"
                          {% if section.settings.image_ratio_collapsible == 'adapt' %}
                            style="padding-bottom: {{ 1 | divided_by: section.settings.image_collapsible.aspect_ratio | times: 100 }}%;"
                          {% endif %}
                        >
                          {%- liquid
                            assign padding_multiplier = 1
                            if section.settings.layout_collapsible == 'section'
                              assign padding_multiplier = 2
                            endif
                            assign desktop_tablet_padding = 100 | times: padding_multiplier | append: 'px'
                            assign mobile_padding = 30 | times: padding_multiplier | append: 'px'
                          -%}
                          {%- capture sizes -%}
                            (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ desktop_tablet_padding }}) / 2),
                            (min-width: 750px) calc((100vw - {{ desktop_tablet_padding }}) / 2),
                            calc(100vw - {{ mobile_padding }})
                          {%- endcapture -%}
                          {{
                            section.settings.image_collapsible
                            | image_url: width: 3200
                            | image_tag:
                              sizes: sizes,
                              widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                          }}
                        </div>
                      </div>
                    {% endif %}
                    <div class="grid__item">
                      {%- for block in section.blocks -%}
                        <div
                          class="accordion{% if section.settings.layout == 'row' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}"
                          {{ block.shopify_attributes }}
                        >
                          <details
                            id="Details-{{ block.id }}-{{ section.id }}"
                            {% if section.settings.open_first_collapsible_row and forloop.first %}
                              open
                            {% endif %}
                          >
                            <summary id="Summary-{{ block.id }}-{{ section.id }}">
                              {% render 'icon-accordion', icon: block.settings.icon %}
                              <h3 class="accordion__title inline-richtext h4">
                                {{ block.settings.heading | default: block.settings.page.title }}
                              </h3>
                              {% render 'icon-caret' %}
                            </summary>
                            <div
                              class="accordion__content rte"
                              id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
                              role="region"
                              aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
                            >
                              {{ block.settings.row_content }}
                              {{ block.settings.page.content }}
                            </div>
                          </details>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
        
        </div>
      </div>
    </div>
  </section>
  {% comment %} ///////////////////Call to Action///////////////////// {% endcomment %}
  <section  class="cta-container-mobile" style="height:100%;  text-align:center;">
    <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
      <div class="page-width"> 
          <button color-{{ section.settings.section_color_scheme }} class="button-main-v12">Explore Subscriptions</button>
      </div>
    </div>
  </section>





{% schema %}
{
  "name": "custom info abo section ",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

    {
      "type": "richtext",
      "id": "text_title_primary",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Hero Title"
  },
  {
      "type": "richtext",
      "id": "text_subtitle_primary",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Hero Subtitle"
},

    {
      "type": "richtext",
      "id": "text_title_secondary",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "text title"
  },
  {
      "type": "richtext",
      "id": "text_subtitle_secondary",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "text subtitle"
  },
  {
    "type": "richtext",
    "id": "text_subtitle_secondary_2",
    "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
    "label": "text subtitle"
},

    {
      "type": "image_picker",
      "id": "IMAGE_003",
      "label": "benefits image"
    },
    {
      "type": "text",
      "id": "TITLE_003",
      "default": "Image with text",
      "label": "title 03"
    },
    {
      "type": "richtext",
      "id": "SUBTITLE_003",
      "default": "<p>link your location</p>",
      "label": "subtitle 03"
    },


    {
      "type": "image_picker",
      "id": "ROASTERY_IMAGE_3",
      "label": "benefits image"
    },
    {
      "type": "text",
      "id": "ROASTERY_HEADING_1",
      "default": "Image with text",
      "label": "benefits title"
    },
    {
      "type": "richtext",
      "id": "ROASTERY_OPENING_1",
      "default": "<p>link your location</p>",
      "label": "benefits subtitle"
    },
 
 

    {
      "type": "image_picker",
      "id": "ROASTERY_IMAGE_6",
      "label": "benefits image"
    },
    {
      "type": "text",
      "id": "ROASTERY_HEADING_2",
      "default": "Image with text",
      "label": "benefits title"
    },
    {
      "type": "richtext",
      "id": "ROASTERY_OPENING_2",
      "default": "<p>link your location</p>",
      "label": "benefits subtitle"
    },
 






    {
      "type": "richtext",
      "id": "how_it_work_title",
      "default": "<p>link your location</p>",
      "label": "how it work title"
    },
    {
      "type": "richtext",
      "id": "how_it_work_subtitle",
      "default": "<p>link your location</p>",
      "label": "how it work subtitle"
    },
    {
      "type": "richtext",
      "id": "how_it_work_title_one",
      "default": "<p>link your location</p>",
      "label": "how it work title 1"
    },
    {
      "type": "richtext",
      "id": "how_it_work_subtitle_one",
      "default": "<p>link your location</p>",
      "label": "how it work subtitle 1"
    },
    {
      "type": "richtext",
      "id": "how_it_work_title_two",
      "default": "<p>link your location</p>",
      "label": "how it work title 2"
    },
    {
      "type": "richtext",
      "id": "how_it_work_subtitle_two",
      "default": "<p>link your location</p>",
      "label": "how it work subtitle 2"
    },
    {
      "type": "richtext",
      "id": "how_it_work_title_three",
      "default": "<p>link your location</p>",
      "label": "how it work title 3"
    },
    {
      "type": "richtext",
      "id": "how_it_work_subtitle_three",
      "default": "<p>link your location</p>",
      "label": "how it work subtitle 3"
    },





    {
      "type": "richtext",
      "id": "what_do_i_get_title",
      "default": "<p>link your location</p>",
      "label": "What do I get?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_one",
      "default": "<p>link your location</p>",
      "label": "What do I get 1?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_two",
      "default": "<p>link your location</p>",
      "label": "What do I get 2?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_three",
      "default": "<p>link your location</p>",
      "label": "What do I get 3?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_four",
      "default": "<p>link your location</p>",
      "label": "What do I get 4?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_five",
      "default": "<p>link your location</p>",
      "label": "What do I get 5?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_six",
      "default": "<p>link your location</p>",
      "label": "What do I get 6?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_seven",
      "default": "<p>link your location</p>",
      "label": "What do I get 7?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_eight",
      "default": "<p>link your location</p>",
      "label": "What do I get 8?"
    },



















    {
        "type": "richtext",
        "id": "text_title",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "Review Title"
    },
    {
        "type": "richtext",
        "id": "text_subtitle",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "Review Subtitle"
    },
    {
        "type": "richtext",
        "id": "text",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "Review 1"
    },
    {
        "type": "richtext",
        "id": "text_1",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "Review 2"
    },
    {
        "type": "richtext",
        "id": "text_2",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "Review 3"
      },
      {
        "type": "richtext",
        "id": "text_title_2",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text title"
    },
    {
      "type": "richtext",
      "id": "text_subtitle_2_1",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "text subtitle"
  },
    {
        "type": "richtext",
        "id": "text_title_3",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text title"
    },
    {
        "type": "richtext",
        "id": "text_title_4",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text title"
    },
    {
        "type": "richtext",
        "id": "text_subtitle_7",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text subtitle"
  },
    {
        "type": "richtext",
        "id": "text_subtitle_4",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text subtitle"
  },
    {
        "type": "richtext",
        "id": "text_subtitle_5",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text subtitle"
  },
  {
        "type": "richtext",
        "id": "text_subtitle_6",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text subtitle"
  },
  {
        "type": "richtext",
        "id": "text_title_5",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text title"
  },
  {
        "type": "richtext",
        "id": "text_subtitle_8",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text subtitle"
  },
  {
        "type": "richtext",
        "id": "text_title_6",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "text title"
  },













    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },



   




    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },















    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    }








  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible_content.blocks.collapsible_row.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
          "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.page.label"
        }
      ]
    }
  ],
  
  "presets": [
    {
      "name": "custom info abo section"
    }
  ]
}
{% endschema %}
